# Include top-level files
include README.md
include LICENSE.md
include LICENSE.GPL

# Exclude top-level files
exclude tox.ini Makefile bobtemplate.cfg mx.ini

# Add all files under directories matching
graft src/collective/volto/turnstile/profiles
graft docs

recursive-include src/collective/volto/turnstile *.zcml
recursive-include src/collective/volto/turnstile *.xml
recursive-include src/collective/volto/turnstile *.txt
recursive-include src/collective/volto/turnstile *.pot
recursive-include src/collective/volto/turnstile *.po
recursive-include src/collective/volto/turnstile *.mo

# Include test files in sdist
recursive-include tests *.py

# Remove all files under directories matching
prune scripts
prune news
prune .agents
prune .claude
prune .mxdev_cache

# Exclude temporal files and compiled Python files
global-exclude *~ *.py[cod]
